*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.wrapper::after{
 content: "";
 clear: both;
 display: table;
}
.flex{
  display: flex;
}
.left{
  float: left;
  width: 30%;
}
.right{
  float: right;
  width: 70%;
}

.navbar{
  height: 100px;
  background-color: red;
  border: 1px solid black;
}

.logo{
  height: 20px;
}

ul li{
  list-style: none;
  padding-right: 10px;
}
ul li a{
  text-decoration: none;
  text-transform: uppercase;
}
